@import url("https://fonts.googleapis.com/css?family=Nunito:400,600");

$nunito: "Nunito", sans-serif;

// Global styles
.d-none {
  display: none !important;
}

html {
  color: #53a1b3;
  color-scheme: dark;
}

body {
  align-items: stretch;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1.5rem;
  position: relative;
  //width: 22.5rem;
  //font-family: Open Sans, Segoe UI, Helvetica Neue, Ubuntu, sans-serif;
  font-size: 0.8rem;
}

// Block: container
.container {
  display: flex;
  flex-direction: column;
}

// Block: header
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

// Block: container-selector
.container-selector {
  margin-top: 10px;
  margin-bottom: 10px;

  &__title {
    margin-bottom: 10px;
  }
}

// Block: btn-container
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

// Block: btn
.btn {
  &--track {
    color: black;
    margin-top: 20px;
  }
}

// Block: list
.list {
  &__item {
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 7.5px;
    transition: all 0.45s ease-in-out;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 9px 30px 0 rgba(0, 0, 0, 0.19);
  }
  &__icon {
    color: #68c967 !important;
    font-size: 1.5rem;
  }
  &__meta-title {
    color: #68c967 !important;
    font-size: 1.5rem;
  }
  &__meta-description {
    color: white !important;
    font-size: 1.25rem;
  }
}

// Block: input
.input {
  &--full-width {
    width: 100%;
  }
}

// Modifiers
.text--white {
  color: #fff;
}

.border {
  &--dynamic {
    border: 1px solid white;
  }
  &--red {
    border-color: red;
  }
  &--green {
    border-color: green;
  }
}

// Block: favicon
.favicon {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 10px;
}